/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

h1 {
    color: #ffffff;
    font-size: 40 px;
    text-align: center;
    font-family: "Germania One", system-ui;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cargo {
    font-family: "Fira Code", monospace;
}

h2 {
    color: #0b090a;
}

p {
    color: #ffffff;
}

a {
    color: #0b090a;
    text-decoration: none;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #0b090a;
    font-weight: bold;
}

.link-social {
    color: #333;
    text-decoration: none;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    /*Aula 5*/
    padding: 30px;
    margin: 20px;
    border: 2px solid #640d14;
    background-color: #640d14;
    border-radius: 50px;
}

#hero img {
    width: 200px;
    height: auto;
    border-radius: 30px;
}

* {
    box-sizing: border-box;
}

/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #222;
}

footer p {
    color: white;
}

/* Aula 5 */
body{
    /*font-family: Arial, sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    font-family: "Fira Code", monospace;
    background: linear-gradient(to bottom, #a4161a, #250902);
}

/* Aula 6 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-direction: row;    

}

nav {
    display: flex;
    gap: 20px;
}

.projetos-grid {
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;*/
} 

a:hover {
    color: #edf2f4;
    transition: 0.3s;
}

.link-social {
    color: #ffffff;
    text-decoration: none;
}

input{
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#habilidadex li {
    color: #ffffff;
}

table{
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

th, td{
    padding: 15px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

th:last-child,
td:last-child{
    border-right: none;
}

tr:last-child td{
    border-bottom: none;
}

#projetox td{
    color: #ffffff;
}

#landing td{
    color: #ffffff;
}

#curriculo td{
    color: #ffffff;
}   

#sobre,
#habilidades,
#projetos,
#contato{
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.15);
    padding: 30px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.edição {
    color: #ffffff;
    text-decoration: none;
}

.edição:hover {
    color: black;
    transition: background-color black 0.3s;
}

.link-social:hover {
    color: black;
    transition: background-color black 0.3s;
}
